{% extends 'base.html.twig' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block body %}
    <article>
        <h1>{{ post.title }}</h1>
        <p class="meta">{{ post.author }} | {{ post.date|date('F j, Y') }}</p>
        <div class="content">{{ post.content }}</div>
    </article>
{% endblock %}
