{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
<div class="container mt-5">
    <img src="{{ article.featuredImage}}" class="img-fluid mx-auto d-block mb-3" width=1920 alt="{{ article.title }}" srcset="">
    <h1>{{ article.title }}</h1>
    
    <div class="row mt-5">
        <div class="col-sm">        
            <p>Rédacteur: {{ article.author }}</p>
        </div>
        <div class="col-sm">
            <p>Date de publication: {{ article.createdAt|date('d-m-Y') }}</p>
        </div>
        <div class="col-sm"> 
        <p>Dernière mise à jour le {{ article.updatedAt|date('d-m-Y') }}</p>
        </div>

    </div>
    <hr>
    <p class="fs-4">{{ article.content|raw }}</p>
</div>
{% endblock %}
